(vim.vm.ConfigInfo) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   changeVersion = '2019-05-26T00:43:28.467046Z',
   modified = 1970-01-01T00:00:00Z,
   name = 'prt2gicis',
   guestFullName = 'Microsoft Windows Server 2008 R2 (64-bit)',
   version = 'vmx-13',
   uuid = '420da738-9462-1720-fa41-b407186f5619',
   createDate = <unset>,
   instanceUuid = '500d11af-7ab1-a9b5-c926-c4aaa89f1956',
   npivNodeWorldWideName = (long) [],
   npivPortWorldWideName = (long) [],
   npivWorldWideNameType = <unset>,
   npivDesiredNodeWwns = <unset>,
   npivDesiredPortWwns = <unset>,
   npivTemporaryDisabled = true,
   npivOnNonRdmDisks = <unset>,
   locationId = '564d251e-c2b6-0f67-55cb-4bebe824d1f3',
   template = false,
   guestId = 'windows7Server64Guest',
   alternateGuestName = 'Microsoft Windows Server 2008 R2 (64-bit)',
   annotation = "<Last Backup (IBM Spectrum Protect)>\nLast Run Time='07/22/2018 18:49:19'\nStatus='Successful'\nData Transmitted='423.58 MB'\nDuration='00:05:02'\nType='Incremental Forever - Incremental'\nSchedule='DMN_DR_SCHED3'\nData Mover='VC1_WMPENN_DR_DMN_SCHED3'\nSnapshot Type='VMware Tools'\nApplication Protection=' '\n</Last Backup>",
   files = (vim.vm.FileInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      vmPathName = '[Internet-Dov-1-DTIDovUnity2-ICISRP-03] prt2gicis/prt2gicis.vmx',
      snapshotDirectory = '[Internet-Dov-1-DTIDovUnity2-ICISRP-03] prt2gicis/',
      suspendDirectory = '[Internet-Dov-1-DTIDovUnity2-ICISRP-03] prt2gicis/',
      logDirectory = '[Internet-Dov-1-DTIDovUnity2-ICISRP-03] prt2gicis/',
      ftMetadataDirectory = <unset>
   },
   tools = (vim.vm.ToolsConfigInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      toolsVersion = 10305,
      toolsInstallType = 'guestToolsTypeMSI',
      afterPowerOn = true,
      afterResume = true,
      beforeGuestStandby = true,
      beforeGuestShutdown = true,
      beforeGuestReboot = <unset>,
      toolsUpgradePolicy = 'upgradeAtPowerCycle',
      pendingCustomization = <unset>,
      customizationKeyId = <unset>,
      syncTimeWithHost = false,
      lastInstallInfo = (vim.vm.ToolsConfigInfo.ToolsLastInstallInfo) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         counter = 16,
         fault = <unset>
      },
      upgradeRebootPredict = <unset>
   },
   flags = (vim.vm.FlagInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      disableAcceleration = false,
      enableLogging = true,
      useToe = false,
      runWithDebugInfo = false,
      monitorType = 'release',
      htSharing = 'any',
      snapshotDisabled = false,
      snapshotLocked = false,
      diskUuidEnabled = true,
      virtualMmuUsage = 'automatic',
      virtualExecUsage = 'hvAuto',
      snapshotPowerOffBehavior = 'powerOff',
      recordReplayEnabled = false,
      faultToleranceType = 'unset',
      cbrcCacheEnabled = false,
      vvtdEnabled = <unset>,
      vbsEnabled = <unset>
   },
   consolePreferences = <unset>,
   defaultPowerOps = (vim.vm.DefaultPowerOpInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      powerOffType = 'soft',
      suspendType = 'hard',
      resetType = 'soft',
      defaultPowerOffType = 'soft',
      defaultSuspendType = 'hard',
      defaultResetType = 'soft',
      standbyAction = 'checkpoint'
   },
   hardware = (vim.vm.VirtualHardware) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      numCPU = 1,
      numCoresPerSocket = 1,
      memoryMB = 2048,
      virtualICH7MPresent = false,
      virtualSMCPresent = false,
      device = (vim.vm.device.VirtualDevice) [
         (vim.vm.device.VirtualIDEController) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 200,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'IDE 0',
               summary = 'IDE 0'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = <unset>,
            unitNumber = <unset>,
            busNumber = 0,
            device = (int) []
         },
         (vim.vm.device.VirtualIDEController) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 201,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'IDE 1',
               summary = 'IDE 1'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = <unset>,
            unitNumber = <unset>,
            busNumber = 1,
            device = (int) [
               3002
            ]
         },
         (vim.vm.device.VirtualPS2Controller) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 300,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'PS2 controller 0',
               summary = 'PS2 controller 0'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = <unset>,
            unitNumber = <unset>,
            busNumber = 0,
            device = (int) [
               600,
               700
            ]
         },
         (vim.vm.device.VirtualPCIController) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 100,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'PCI controller 0',
               summary = 'PCI controller 0'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = <unset>,
            unitNumber = <unset>,
            busNumber = 0,
            device = (int) [
               500,
               12000,
               1000,
               4000
            ]
         },
         (vim.vm.device.VirtualSIOController) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 400,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'SIO controller 0',
               summary = 'SIO controller 0'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = <unset>,
            unitNumber = <unset>,
            busNumber = 0,
            device = (int) [
               8000
            ]
         },
         (vim.vm.device.VirtualKeyboard) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 600,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'Keyboard ',
               summary = 'Keyboard'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = 300,
            unitNumber = 0
         },
         (vim.vm.device.VirtualPointingDevice) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 700,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'Pointing device',
               summary = 'Pointing device; Device'
            },
            backing = (vim.vm.device.VirtualPointingDevice.DeviceBackingInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               deviceName = '',
               useAutoDetect = false,
               hostPointingDevice = 'autodetect'
            },
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = 300,
            unitNumber = 1
         },
         (vim.vm.device.VirtualVideoCard) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 500,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'Video card ',
               summary = 'Video card'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = 100,
            unitNumber = 0,
            videoRamSizeInKB = 8192,
            numDisplays = 1,
            useAutoDetect = false,
            enable3DSupport = false,
            use3dRenderer = 'automatic',
            graphicsMemorySizeInKB = 262144
         },
         (vim.vm.device.VirtualVMCIDevice) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 12000,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'VMCI device',
               summary = 'Device on the virtual machine PCI bus that provides support for the virtual machine communication interface'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = (vim.vm.device.VirtualDevice.PciBusSlotInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               pciSlotNumber = 33
            },
            controllerKey = 100,
            unitNumber = 17,
            id = 409949721,
            allowUnrestrictedCommunication = false,
            filterEnable = true,
            filterInfo = <unset>
         },
         (vim.vm.device.VirtualLsiLogicSASController) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 1000,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'SCSI controller 0',
               summary = 'LSI Logic SAS'
            },
            backing = <unset>,
            connectable = <unset>,
            slotInfo = (vim.vm.device.VirtualDevice.PciBusSlotInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               pciSlotNumber = 160
            },
            controllerKey = 100,
            unitNumber = 3,
            busNumber = 0,
            device = (int) [
               2000
            ],
            hotAddRemove = true,
            sharedBus = 'noSharing',
            scsiCtlrUnitNumber = 7
         },
         (vim.vm.device.VirtualCdrom) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 3002,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'CD/DVD drive 1',
               summary = 'Remote ATAPI /usr/lib/vmware/isoimages/windows.iso'
            },
            backing = (vim.vm.device.VirtualCdrom.RemoteAtapiBackingInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               deviceName = '/usr/lib/vmware/isoimages/windows.iso',
               useAutoDetect = false
            },
            connectable = (vim.vm.device.VirtualDevice.ConnectInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               migrateConnect = <unset>,
               startConnected = false,
               allowGuestControl = true,
               connected = false,
               status = 'ok'
            },
            slotInfo = <unset>,
            controllerKey = 201,
            unitNumber = 0
         },
         (vim.vm.device.VirtualDisk) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 2000,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'Hard disk 1',
               summary = '62,914,560 KB'
            },
            backing = (vim.vm.device.VirtualDisk.FlatVer2BackingInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               fileName = '[Internet-Dov-1-DTIDovUnity2-ICISRP-03] prt2gicis/prt2gicis.vmdk',
               datastore = 'vim.Datastore:datastore-983721',
               backingObjectId = '',
               diskMode = 'persistent',
               split = false,
               writeThrough = false,
               thinProvisioned = false,
               eagerlyScrub = <unset>,
               uuid = '6000C29d-baa8-03fc-64f5-1c430d1ab5df',
               contentId = 'bcfe1e69d95066a2b85aaeb5af9982f2',
               changeId = <unset>,
               parent = <unset>,
               deltaDiskFormat = <unset>,
               digestEnabled = false,
               deltaGrainSize = <unset>,
               deltaDiskFormatVariant = <unset>,
               sharing = 'sharingNone',
               keyId = <unset>
            },
            connectable = <unset>,
            slotInfo = <unset>,
            controllerKey = 1000,
            unitNumber = 0,
            capacityInKB = 62914560,
            capacityInBytes = 64424509440,
            shares = (vim.SharesInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               shares = 1000,
               level = 'normal'
            },
            storageIOAllocation = (vim.StorageResourceManager.IOAllocationInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               limit = -1,
               shares = (vim.SharesInfo) {
                  dynamicType = <unset>,
                  dynamicProperty = (vmodl.DynamicProperty) [],
                  shares = 1000,
                  level = 'normal'
               },
               reservation = 0
            },
            diskObjectId = '20-2000',
            vFlashCacheConfigInfo = <unset>,
            iofilter = (str) [],
            vDiskId = <unset>,
            nativeUnmanagedLinkedClone = <unset>
         },
         (vim.vm.device.VirtualFloppy) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 8000,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'Floppy drive 1',
               summary = 'Remote /dev/fd0'
            },
            backing = (vim.vm.device.VirtualFloppy.RemoteDeviceBackingInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               deviceName = '/dev/fd0',
               useAutoDetect = false
            },
            connectable = (vim.vm.device.VirtualDevice.ConnectInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               migrateConnect = <unset>,
               startConnected = false,
               allowGuestControl = true,
               connected = false,
               status = 'ok'
            },
            slotInfo = <unset>,
            controllerKey = 400,
            unitNumber = 0
         },
         (vim.vm.device.VirtualVmxnet3) {
            dynamicType = <unset>,
            dynamicProperty = (vmodl.DynamicProperty) [],
            key = 4000,
            deviceInfo = (vim.Description) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               label = 'Network adapter 1',
               summary = 'DVSwitch: 61 3b 07 50 20 ae ce aa-4e 6c 79 1f 6d 94 5e 40'
            },
            backing = (vim.vm.device.VirtualEthernetCard.DistributedVirtualPortBackingInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               port = (vim.dvs.PortConnection) {
                  dynamicType = <unset>,
                  dynamicProperty = (vmodl.DynamicProperty) [],
                  switchUuid = '61 3b 07 50 20 ae ce aa-4e 6c 79 1f 6d 94 5e 40',
                  portgroupKey = 'dvportgroup-10352',
                  portKey = '4364',
                  connectionCookie = 1563466848
               }
            },
            connectable = (vim.vm.device.VirtualDevice.ConnectInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               migrateConnect = <unset>,
               startConnected = true,
               allowGuestControl = true,
               connected = true,
               status = 'ok'
            },
            slotInfo = (vim.vm.device.VirtualDevice.PciBusSlotInfo) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               pciSlotNumber = 192
            },
            controllerKey = 100,
            unitNumber = 7,
            addressType = 'assigned',
            macAddress = '00:50:56:8d:54:8d',
            wakeOnLanEnabled = true,
            resourceAllocation = (vim.vm.device.VirtualEthernetCard.ResourceAllocation) {
               dynamicType = <unset>,
               dynamicProperty = (vmodl.DynamicProperty) [],
               reservation = 0,
               share = (vim.SharesInfo) {
                  dynamicType = <unset>,
                  dynamicProperty = (vmodl.DynamicProperty) [],
                  shares = 50,
                  level = 'normal'
               },
               limit = -1
            },
            externalId = <unset>,
            uptCompatibilityEnabled = false
         }
      ]
   },
   cpuAllocation = (vim.ResourceAllocationInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      reservation = 0,
      expandableReservation = <unset>,
      limit = -1,
      shares = (vim.SharesInfo) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         shares = 1000,
         level = 'normal'
      },
      overheadLimit = <unset>
   },
   memoryAllocation = (vim.ResourceAllocationInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      reservation = 0,
      expandableReservation = <unset>,
      limit = -1,
      shares = (vim.SharesInfo) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         shares = 20480,
         level = 'normal'
      },
      overheadLimit = 45
   },
   latencySensitivity = (vim.LatencySensitivity) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      level = 'normal',
      sensitivity = <unset>
   },
   memoryHotAddEnabled = false,
   cpuHotAddEnabled = false,
   cpuHotRemoveEnabled = false,
   hotPlugMemoryLimit = 2048,
   hotPlugMemoryIncrementSize = 0,
   cpuAffinity = <unset>,
   memoryAffinity = <unset>,
   networkShaper = <unset>,
   extraConfig = (vim.option.OptionValue) [
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'svga.present',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'vmci.filter.enable',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'tools.guest.desktop.autolock',
         value = 'FALSE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge0.present',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge4.present',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge4.virtualDev',
         value = 'pcieRootPort'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge4.functions',
         value = '8'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge5.present',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge5.virtualDev',
         value = 'pcieRootPort'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge5.functions',
         value = '8'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge6.present',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge6.virtualDev',
         value = 'pcieRootPort'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge6.functions',
         value = '8'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge7.present',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge7.virtualDev',
         value = 'pcieRootPort'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge7.functions',
         value = '8'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'hpet0.present',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'nvram',
         value = 'prt2gicis.nvram'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'virtualHW.productCompatibility',
         value = 'hosted'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'disk.EnableUUID',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'snapshot.action',
         value = 'keep'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'sched.cpu.latencySensitivity',
         value = 'normal'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'deploymentPlatform',
         value = 'windows'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'unity.customColor',
         value = '#C0C0C0'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'replay.supported',
         value = 'false'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'vmotion.checkpointFBSize',
         value = '8388608'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge0.pciSlotNumber',
         value = '17'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge4.pciSlotNumber',
         value = '21'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge5.pciSlotNumber',
         value = '22'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge6.pciSlotNumber',
         value = '23'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'pciBridge7.pciSlotNumber',
         value = '24'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'ethernet0.pciSlotNumber',
         value = '192'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'vmci0.pciSlotNumber',
         value = '33'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'tools.remindInstall',
         value = 'FALSE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'hostCPUID.0',
         value = '0000000d756e65476c65746e49656e69'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'hostCPUID.1',
         value = '000206d70020080017bee3ffbfebfbff'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'hostCPUID.80000001',
         value = '0000000000000000000000012c100800'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guestCPUID.0',
         value = '0000000d756e65476c65746e49656e69'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guestCPUID.1',
         value = '000106a400010800809822010febfbff'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guestCPUID.80000001',
         value = '00000000000000000000000128100800'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'userCPUID.0',
         value = '0000000d756e65476c65746e49656e69'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'userCPUID.1',
         value = '000206d700200800009822010febfbff'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'userCPUID.80000001',
         value = '00000000000000000000000128100800'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'evcCompatibilityMode',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'scsi0.pciSlotNumber',
         value = '160'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'scsi0.sasWWID',
         value = '50 05 05 68 94 62 17 20'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'checkpoint.vmState.readOnly',
         value = 'FALSE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'unity.wasCapable',
         value = 'false'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'softPowerOff',
         value = 'FALSE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'vmotion.checkpointSVGASize',
         value = '0'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guestinfo.toolsInstallErrCode',
         value = '0'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'toolsInstallManager.updateCounter',
         value = '16'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'toolsInstallManager.lastInstallError',
         value = '0'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'monitor.phys_bits_used',
         value = '43'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guest.commands.sharedSecretLogin.com.vmware.vin',
         value = 'BGYlBMDnAbYSkDHoFU6MJL9EwNKNFX+uFvQtWeGDzDo='
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'ctkEnabled',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'scsi0:0.ctkEnabled',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'vmotion.checkpointSVGAPrimarySize',
         value = '8388608'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'svga.guestBackedPrimaryAware',
         value = 'TRUE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'numa.autosize.vcpu.maxPerVirtualNode',
         value = '1'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'numa.autosize.cookie',
         value = '10001'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'log.keepOld',
         value = '10'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'log.rotatesize',
         value = '1048576'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guestinfo.vmtools.description',
         value = 'VMware Tools 10.2.1 build 8267844'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guestinfo.vmtools.versionString',
         value = '10.2.1'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guestinfo.vmtools.versionNumber',
         value = '10305'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'guestinfo.vmtools.buildNumber',
         value = '8267844'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'acpi.mouseVMW0003',
         value = 'FALSE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'acpi.smbiosVersion2.7',
         value = 'FALSE'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'sched.swap.derivedName',
         value = '/vmfs/volumes/5c3e0b93-3cee218e-5d49-0025b5160008/prt2gicis/prt2gicis-ea6ec127.vswp'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'scsi0:0.redo',
         value = ''
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'vmware.tools.internalversion',
         value = '10305'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'vmware.tools.requiredversion',
         value = '10272'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'migrate.hostLogState',
         value = 'none'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'migrate.migrationId',
         value = '2984659437681280671'
      },
      (vim.option.OptionValue) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         key = 'migrate.hostLog',
         value = 'prt2gicis-6a2bb8c5.hlog'
      }
   ],
   cpuFeatureMask = (vim.host.CpuIdInfo) [],
   datastoreUrl = (vim.vm.ConfigInfo.DatastoreUrlPair) [
      (vim.vm.ConfigInfo.DatastoreUrlPair) {
         dynamicType = <unset>,
         dynamicProperty = (vmodl.DynamicProperty) [],
         name = 'Internet-Dov-1-DTIDovUnity2-ICISRP-03',
         url = '/vmfs/volumes/5c3e0b93-3cee218e-5d49-0025b5160008'
      }
   ],
   swapPlacement = 'inherit',
   bootOptions = (vim.vm.BootOptions) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      bootDelay = 0,
      enterBIOSSetup = false,
      efiSecureBootEnabled = false,
      bootRetryEnabled = false,
      bootRetryDelay = 10000,
      bootOrder = (vim.vm.BootOptions.BootableDevice) [],
      networkBootProtocol = 'ipv4'
   },
   ftInfo = <unset>,
   repConfig = <unset>,
   vAppConfig = <unset>,
   vAssertsEnabled = false,
   changeTrackingEnabled = true,
   firmware = 'bios',
   maxMksConnections = 40,
   guestAutoLockEnabled = false,
   managedBy = <unset>,
   memoryReservationLockedToMax = false,
   initialOverhead = (vim.vm.ConfigInfo.OverheadInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      initialMemoryReservation = 52441088,
      initialSwapReservation = 218677248
   },
   nestedHVEnabled = false,
   vPMCEnabled = false,
   scheduledHardwareUpgradeInfo = (vim.vm.ScheduledHardwareUpgradeInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      upgradePolicy = 'never',
      versionKey = <unset>,
      scheduledHardwareUpgradeStatus = 'none',
      fault = <unset>
   },
   forkConfigInfo = (vim.vm.ForkConfigInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      parentEnabled = false,
      childForkGroupId = <unset>,
      parentForkGroupId = <unset>,
      childType = <unset>
   },
   vFlashCacheReservation = 0,
   vmxConfigChecksum = +ckjC0pt5GBSq4wjgVzxz5o3X9Q=,
   messageBusTunnelEnabled = false,
   vmStorageObjectId = <unset>,
   swapStorageObjectId = <unset>,
   keyId = <unset>,
   guestIntegrityInfo = (vim.vm.GuestIntegrityInfo) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      enabled = false
   },
   migrateEncryption = 'opportunistic'
}